<cruisecontrol>
    <project name="StateBuilderDotNet" webURL="http://localhost/ccnet">
        <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilderDotNet</workingDirectory>
        <triggers>
            <intervalTrigger initialSeconds="30000" seconds="36000" buildCondition="ForceBuild"/>
        </triggers>

        <sourcecontrol type="hg">
            <autoGetSource>true</autoGetSource>
            <repo>https://stateforge.kilnhg.com/Repo/Repositories/StateBuilderDotNet/dev</repo>
            <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilderDotNet</workingDirectory>
        </sourcecontrol>
        <tasks>
            <!-- CleanAll -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/t:Clean;CleanAll</buildArgs>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Build Debug -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/p:Configuration=Debug</buildArgs>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Clean Debug -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/t:Clean /p:Configuration=Debug</buildArgs>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Build Release -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/p:Configuration=Release</buildArgs>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Build Doc -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/t:Doc /p:Configuration=Release</buildArgs>
                <timeout>3600</timeout>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- WixInstall -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/t:WixInstall /p:Configuration=Release</buildArgs>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Build and test examples for VS 2010, TargetFrameworkVersion=v4.0 -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>StateBuilderDotNetExamples.proj</projectFile>
                <buildArgs>/p:SolutionFileName=StateBuidlerDotNetExamplesVs2010.sln</buildArgs>
                <workingDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderDotNet\Examples\Cs</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Clean examples for VS 2010, TargetFrameworkVersion=v4.0 -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>StateBuilderDotNetExamples.proj</projectFile>
                <buildArgs>/t:Clean /p:SolutionFileName=StateBuidlerDotNetExamplesVs2010.sln</buildArgs>
                <workingDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderDotNet\Examples\Cs</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Build and test examples for VS 2008, TargetFrameworkVersion=v3.5 -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
                <projectFile>StateBuilderDotNetExamples.proj</projectFile>
                <buildArgs>/p:SolutionFileName=StateBuidlerDotNetExamplesVs2008.sln  /p:TargetFrameworkVersion=v3.5</buildArgs>
                <workingDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderDotNet\Examples\Cs</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Clean examples for VS 2008, TargetFrameworkVersion=v3.5 -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
                <projectFile>StateBuilderDotNetExamples.proj</projectFile>
                <buildArgs>/t:Clean /p:SolutionFileName=StateBuidlerDotNetExamplesVs2008.sln /p:TargetFrameworkVersion=v3.5</buildArgs>
                <workingDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderDotNet\Examples\Cs</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Build and test examples for VS 2008, TargetFrameworkVersion=v2.0 -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
                <projectFile>StateBuilderDotNetExamples.proj</projectFile>
                <buildArgs>/p:SolutionFileName=StateBuidlerDotNetExamplesVs2008.sln  /p:TargetFrameworkVersion=v2.0</buildArgs>
                <workingDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderDotNet\Examples\Cs</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Clean examples for VS 2008, TargetFrameworkVersion=v2.0 -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
                <projectFile>StateBuilderDotNetExamples.proj</projectFile>
                <buildArgs>/t:Clean /p:SolutionFileName=StateBuidlerDotNetExamplesVs2008.sln /p:TargetFrameworkVersion=v2.0</buildArgs>
                <workingDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderDotNet\Examples\Cs</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>

            <!-- Build examples for VS VB 2010 -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>StateBuidlerDotNetExamplesVs2010.sln</projectFile>
                <buildArgs></buildArgs>
                <workingDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderDotNet\Examples\VB</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>

            <!-- Clean examples for VS VB 2010 -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>StateBuidlerDotNetExamplesVs2010.sln</projectFile>
                <buildArgs>/t:Clean</buildArgs>
                <workingDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderDotNet\Examples\VB</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>

            <!-- WixUninstall -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/t:WixUninstall /p:Configuration=Release</buildArgs>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Clean -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/t:Clean</buildArgs>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Zip -->
            <!-- <msbuild>
        <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <projectFile>build.proj</projectFile>
        <buildArgs>/t:Zip</buildArgs>
        <logger>
          C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
        </logger>
      </msbuild>-->
        </tasks>
        <publishers>
            <merge>
                <files>
                    <file>Report\TestResult.xml</file>
                    <file>Report\PartCover.xml</file>
                </files>
            </merge>
            <xmllogger logDir="log" />
        </publishers>
    </project>
    <project name="StateBuilderDotNet_Deploy" webURL="http://localhost/ccnet">
        <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilderDotNet</workingDirectory>
        <triggers>
            <intervalTrigger initialSeconds="3000000" seconds="3600000" buildCondition="ForceBuild"/>
        </triggers>
    
        <tasks>
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>build.proj</projectFile>
                <buildArgs>/t:Deploy</buildArgs>
                <timeout>3600</timeout>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
        </tasks>
        <publishers>
            <xmllogger logDir="log" />
        </publishers>
    </project>
    
    <project name="StateBuilderCpp" webURL="http://localhost/ccnet">
        <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder</workingDirectory>
        <triggers>
            <intervalTrigger initialSeconds="30000" seconds="36000" buildCondition="ForceBuild"/>
        </triggers>
        <sourcecontrol type="hg">
            <autoGetSource>true</autoGetSource>
            <repo>https://stateforge.kilnhg.com/Repo/Repositories/StateBuilder/dev</repo>
            <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder</workingDirectory>
        </sourcecontrol>
        <tasks>
            <!-- -->
            <exec>
                <executable>C:\Users\frederic\Software\apache-maven-3.0.3\bin\mvn.bat</executable>
                <baseDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderCpp</baseDirectory>
                <buildArgs>clean install</buildArgs>
            </exec>
            <!-- Doc -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>Doc/StateBuilderCpp.shfbproj</projectFile>
                <buildArgs></buildArgs>
                <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderCpp</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Build All Setup -->
            <exec>
                <executable>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderCpp\build\setup\buildSetup.bat</executable>
                <baseDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderCpp\build\setup</baseDirectory>
                <buildArgs></buildArgs>
            </exec>
            <!-- Run the installer .jar -->
            <exec>
                <executable>java</executable>
                <buildArgs>-jar C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderCpp\build\setup\StateBuilderCpp-WinSetup.jar</buildArgs>
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>
            <!-- Mingw -->
            <exec>
                <executable>C:\Users\frederic\AppData\Local\StateForge\StateBuilderCpp\build\mingw\build.bat</executable>
                <baseDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderCpp\build\mingw</baseDirectory>
                <buildTimeoutSeconds>2400</buildTimeoutSeconds>
            </exec>
            <!-- Vs2008 -->
            <exec>
                <executable>C:\Users\frederic\AppData\Local\StateForge\StateBuilderCpp\build\vs2008\build.bat</executable>
                <baseDirectory>C:\Users\frederic\AppData\Local\StateForge\StateBuilderCpp\build\vs2008</baseDirectory>
                <buildTimeoutSeconds>2400</buildTimeoutSeconds>
            </exec>
            <!-- Uninstall -->
            <exec>
                <executable>java</executable>
                <buildArgs>-jar C:\Users\frederic\AppData\Local\StateForge\StateBuilderCpp\Uninstaller\Uninstaller.jar</buildArgs>
            </exec>
        </tasks>
        <publishers>
            <xmllogger logDir="log" />
        </publishers>
    </project>
    <project name="StateBuilderCpp_Deploy" webURL="http://localhost/ccnet">
        <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderCpp</workingDirectory>
        <triggers>
            <intervalTrigger initialSeconds="3000000" seconds="3600000" buildCondition="ForceBuild"/>
        </triggers>
        <tasks>
            <!-- Deploy to website -->
            <exec>
                <executable>C:\Users\frederic\Software\apache-ant-1.8.2\bin\ant.bat</executable>
                <baseDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderCpp</baseDirectory>
                <buildArgs>deploy</buildArgs>
                <buildTimeoutSeconds>3600</buildTimeoutSeconds>
            </exec>
        </tasks>
        <publishers>
            <xmllogger logDir="log" />
        </publishers>
    </project>
    <project name="StateBuilderJava" webURL="http://localhost/ccnet">
        <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder</workingDirectory>
        <triggers>
            <intervalTrigger initialSeconds="30000" seconds="36000" buildCondition="ForceBuild"/>
        </triggers>
        <sourcecontrol type="hg">
            <autoGetSource>true</autoGetSource>
            <repo>https://stateforge.kilnhg.com/Repo/Repositories/StateBuilder/dev</repo>
            <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder</workingDirectory>
        </sourcecontrol>
        <tasks>
            <!-- package goal with Maven -->
            <exec>
                <executable>C:\Users\frederic\Software\apache-maven-3.0.3\bin\mvn.bat</executable>
                <baseDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderJava</baseDirectory>
                <buildArgs>clean package</buildArgs>
            </exec>
            <!-- Doc -->
            <msbuild>
                <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
                <projectFile>Doc/StateBuilderJava.shfbproj</projectFile>
                <buildArgs></buildArgs>
                <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderJava</workingDirectory>
                <logger>
                    C:\Users\frederic\Software\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll
                </logger>
            </msbuild>
            <!-- Build All Setup -->
            <exec>
                <executable>C:\Users\frederic\Software\apache-ant-1.8.2\bin\ant.bat</executable>
                <baseDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderJava</baseDirectory>
                <buildArgs></buildArgs>
            </exec>
            <!-- Run the installer .jar -->
            <exec>
                <executable>java</executable>
                <buildArgs>-jar C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderJava\target\StateBuilderJava-WinSetup.jar</buildArgs>
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
            </exec>
            <!-- Uninstall -->
            <exec>
                <executable>java</executable>
                <buildArgs>-jar C:\Users\frederic\AppData\Local\StateForge\StateBuilderJava\Uninstaller\Uninstaller.jar</buildArgs>
            </exec>
        </tasks>
        <publishers>
            <xmllogger logDir="log" />
        </publishers>
    </project>
    <project name="StateBuilderJava_Deploy" webURL="http://localhost/ccnet">
        <workingDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderJava</workingDirectory>
        <triggers>
            <intervalTrigger initialSeconds="3000000" seconds="3600000" buildCondition="ForceBuild"/>
        </triggers>
        <tasks>
            <!-- Deploy to website -->
            <exec>
                <executable>C:\Users\frederic\Software\apache-ant-1.8.2\bin\ant.bat</executable>
                <baseDirectory>C:\Users\frederic\Documents\CCNet\StateBuilder\StateBuilderJava</baseDirectory>
                <buildArgs>deploy</buildArgs>
                <buildTimeoutSeconds>3600</buildTimeoutSeconds>
            </exec>
        </tasks>
        <publishers>
            <xmllogger logDir="log" />
        </publishers>
    </project>
</cruisecontrol>