<?xml version="1.0" encoding="utf-8"?>
<dashboard>
  <remoteServices>
    <servers>
      <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
      <server name="local" url="tcp://localhost:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="true" backwardsCompatible="false" />
    </servers>
  </remoteServices>
  <plugins>
    <farmPlugins>
      <farmReportFarmPlugin />
      <cctrayDownloadPlugin />
      <administrationPlugin password="ccnet" />
    </farmPlugins>
    <serverPlugins>
      <serverReportServerPlugin />
    </serverPlugins>
    <projectPlugins>
      <projectReportProjectPlugin />
      <viewProjectStatusPlugin />
      <latestBuildReportProjectPlugin />
      <viewAllBuildsProjectPlugin />
      <projectStatisticsPlugin xslFileName="xsl\StatisticsGraphs.xsl"></projectStatisticsPlugin>
      <viewConfigurationProjectPlugin></viewConfigurationProjectPlugin>
      <projectTimelinePlugin></projectTimelinePlugin>
    </projectPlugins>
    <buildPlugins>
      <buildReportBuildPlugin>
        <xslFileNames>
          <xslFile>xsl\header.xsl</xslFile>
          <xslFile>xsl\modifications.xsl</xslFile>
          <xslFile>xsl\compile-msbuild.xsl</xslFile>
          <xslFile>xsl\unittests.xsl</xslFile>
		  <xslFile>xsl\PartCoverReportByAssembly.xsl</xslFile>
		  <xslFile>xsl\PartCoverReportByClass.xsl</xslFile>
        </xslFileNames>
      </buildReportBuildPlugin>
      <buildLogBuildPlugin />
      <xslReportBuildPlugin description="MSBuild Report" actionName="MSBuildBuildReport" xslFileName="xsl\msbuild.xsl"></xslReportBuildPlugin>
      <xslReportBuildPlugin description="NUnit Details" actionName="NUnitDetailsBuildReport" xslFileName="xsl\tests.xsl"></xslReportBuildPlugin>
      <xslReportBuildPlugin description="NUnit Timings" actionName="NUnitTimingsBuildReport" xslFileName="xsl\timing.xsl"></xslReportBuildPlugin>
      <xslReportBuildPlugin description="PartCover Assembly" actionName="PartCoverBuildByAssemblyReport" xslFileName="xsl\PartCoverReportByAssembly.xsl"></xslReportBuildPlugin>
	  <xslReportBuildPlugin description="PartCover Class" actionName="PartCoverBuildByClassReport" xslFileName="xsl\PartCoverReportByClass.xsl"></xslReportBuildPlugin>
    </buildPlugins>
    <securityPlugins>
      <simpleSecurity />
    </securityPlugins>
  </plugins>
</dashboard>