<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- TrafficLight.exe.config -->
  <system.diagnostics>
    <sources>
      <source name="TrafficLight" switchName="SourceSwitch"
        switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="logFile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="logFile"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="TrafficLightTest.log.txt"/>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="logFile" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>